<div class="page-banner">
    <div class="page-banner-logo container pt-40">
        <a routerLink="/"><img src="/assets/images/logo.png" alt="logo"></a>
    </div>
    <div class="container">
        <div class="page-banner-caption">
            <div class="title">Find the most exciting African matches</div> 
            <div class="subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing.</div>   
            <button mat-raised-button ripple="MatRipple" color="primary">Learn More</button>
        </div>
    </div>
    <img class="page-banner-image" src="/assets/images/footballer.png" alt="footballer">
</div>
