<div class="video-details" *ngIf="details">
    <div class="video-details-video">
        <iframe [src]="url | safe" title="{{details.title}}" frameborder="0"></iframe>
    </div>
    <div class="video-details-wrapper container">
        <button mat-fab color="warn" aria-label="home icon">
            <a routerLink="/"><mat-icon aria-hidden="false" aria-label="home icon">arrow_back_ios</mat-icon></a>
        </button>
        <mat-card class="card">
            <mat-card-title-group>
              <mat-card-title>{{details.title}}</mat-card-title>
            </mat-card-title-group>
            <mat-card-content>
                {{details.description}}
            </mat-card-content>
          </mat-card>
    </div>
</div>