iframe{
    width: 300px;
    height: 300px;
}
mat-grid-list{
    background-color: #fafafa;
}
.width-40{
    width: 40%!important;
    border-right: 1px solid;
}
.width-60{
    width: 60%!important;
}