<div class="video-details" *ngIf="details">
    <div class="video-details-home-button container">
        <a routerLink="/"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></a>
    </div>
    <div class="video-details-video">
        <div class="wrapper">
            <iframe [src]="url | safe" title="{{details.title}}" frameborder="0"></iframe>
        </div>
    </div>
    <div class="video-details-wrapper container">
        <div class="title">{{details.title}}</div>
        <div class="details">{{details.description}}</div>
    </div>
</div>