.video-card{
    padding: 4rem 0;
    background: #efefef;
    @media (max-width: 991px) {
        padding: 2rem 0 8rem 0;
    }
    &-title{
        text-align: center;
        color: #27963a;
        font-weight: 600;
        font-size: 2.5rem;
        text-transform: capitalize;
        margin-bottom: 1rem;
        line-height: 39px;
        @media (max-width: 991px) {
            font-size: 1.5rem;
            margin-bottom: .5rem;
        }
    }
    &-caption{
        text-align: center;
        color: #e30612;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 2rem;
    }
    .card{
        background-color: #fff;
        a{
            text-decoration: none;
        }
        .img{
            width: auto;
            min-height: 186px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 3px 3px 0 0;
        }
        .title{
            padding: 20px;
            text-decoration: none;
            color: #333;
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 26px;
            text-align: center;
            border-radius: 0 0 4px 4px;
            min-height: 7rem;
            @media (max-width: 991px) {
                font-size: 14px;
                padding: 10px;
                min-height: 12rem;
            }
        }
    }
}
.mat-grid-tile-content{
    display: block;
}
.shadow{
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
}