<div class="video-card">
    <div class="container">
        <div class="video-card-title">African cup of nations</div>
        <div class="video-card-caption">Cameroon 2022</div>
        <div class="list-wrap">
            <div class="card shadow" *ngFor="let video of videos | 
                paginate: { 
                    itemsPerPage: itemsPerPage, 
                    currentPage: page, 
                    totalItems: totalLength 
                }">
                <a routerLink="details/{{video.resourceId.videoId}}">
                    <div class="img" style="background-image: url({{video.thumbnails.high.url}})"></div>
                    <div class="title">{{video.title}}</div>
                </a>
            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="page = $event" class="pagination"></pagination-controls>
</div>
